# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

public/parcelles.geojson
public/litige.geojson
public/tf_en_cours.geojson
public/tf_etat.geojson
public/tf_demembres.geojson
public/titre_reconstitue.geojson


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
